@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.heroTitle {
  color: #785964;
}
.shopNow {
  background-color: #5d3543;
  padding: 5px 10px;
}
.heroContent {
  margin-left: 100px;
}
