.sidebar {
  height: 40vh;
  width: 150px;
  border-radius: 20px;
  border: 1px solid rgb(3, 3, 3);
  margin-left: 20px;
  margin-top: 150px;
  position: fixed;
  padding: 8px;
  background-color: black;
  box-shadow: 2px 2px 10px white;
}

.link {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.active {
  background-color: rgb(107, 103, 103);
  color: white;
}

.link:hover {
  background-color: rgb(197, 192, 192);
}
