@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.carousel {
  width: 100%;
  max-width: 800px;
  height: 450px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.6s ease-in-out;
}

/* BASE SLIDE */
.slide {
  width: 420px;
  height: 420px;
  flex-shrink: 0;
  transition: all 0.4s ease;
  opacity: 0.4;
  transform: scale(0.85);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* CENTER ACTIVE */
.slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}
