.navbar {
  background-color: #fffcfc;
}
.logo {
  background-color: white;
  border-radius: 25px;
  width: 5rem;
  border: 1px solid rgb(112, 103, 103);
}
.navlink {
  font-size: clamp(0.3rem, 2vw, 1rem);
  margin: 30px;
  text-decoration: none;
  color: #bcabb0;
}
.navlink:hover {
  background-color: #785964;
  padding: 5px 10px;
  border-radius: 25px;
}

.active {
  color: #ffffff !important;
  background-color: #5d3543 !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  padding: 5px 10px;
}

.authLink:hover {
  background-color: #785964;
}
.login {
  background-color: #5d3543;
  color: #bcabb0;
  padding: 5px 15px;
  border-radius: 25px;
}
.login:hover {
  background-color: #785964;
}
.signUp {
  background-color: transparent !important;
  color: black;
}
