.navbar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
}
.logo {
  background-color: white;
  border-radius: 25px;
  width: 5rem;
  border: 1px solid rgb(112, 103, 103);
}
.navlink {
  font-size: clamp(0.3rem, 2vw, 1rem);
  margin: 30px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li .active {
  color: rgb(36, 7, 168);
  border-radius: 25px;
  padding: 5px;
}
